#formpass
{
	border-radius: 20px;
	padding: 20px;
	margin:1%;
	width:400px;
	position: relative;
	top:20%;
	left: 33%;
}

#pass
{
	border-radius: 20px;
	padding: 20px;
	margin:1%;
	width:400px;
}

#pass2
{
	border-radius: 20px;
	padding: 20px;
	margin:1%;
	width:400px;
}

#confirm{
	border-radius: 20px;
	padding: 20px;
	margin:1%;
	width:400px;
}

#heading
{
	text-align: center;
	margin-top: 50px;
	position: relative;
	left: -1%;
}
#horizontalline
{
	height: 10px;
}