

*
{
	margin:0;
	padding: 0;
}

body
{
	font-family: 'Montserrat', sans-serif;
	background-repeat: no-repeat;
	background-size: 100% ;

}

.contain
{
	width: 450px;
	background-color: rgba(33, 106, 224,0.5);
	position: relative;
	border-radius: 15%;
	left:32%;
	margin-top: 4%;
	width: 520px;
	height: 450px;
}

input
{
	width: 50%;
	border-radius: 20px;
	padding: 10px;
	margin-top: 10px;
	
}

input[type=submit]
{
	background-color: #216ae0;
	color: white;
	cursor: pointer;
}

#logo
{
	background-color: white;
	display: flex;
}

#text1
{
	position: relative;
	left: 17%;
	margin-top: 1%;
	font-size: 50px;
}

.form2
{

}