*
{
	margin:0;
	padding: 0;
}

body
{
	font-family: 'Montserrat', sans-serif;
	background-repeat: no-repeat;
	background-size: 100% ;

}

.form1
{
	width: 600px;
	height: 500px;
	background-color: rgba(33, 106, 224,0.5);
	position: relative;
	left:30%;
	margin-top: 4%;
	
}

#logo
{
	background-color: white;
	display: flex;
}

#text1
{
	position: relative;
	left: 23%;
	margin-top: 1%;
	font-size: 50px;
}

#table1
{
	padding: 3%;
	margin-left: 20%;
}

input
{
	width: 120%;
	border-radius: 20px;
	padding: 5px;
	margin-top: 10px;

}

input[type=submit]
{
	width: 123%;
	background-color: #216ae0;
	color: white;
	cursor: pointer;
}

label
{
	float: right;
}
input[type=checkbox]
{
	float: left;
}
